.btnForm{
    width: 336.5px;
    height: 64px;
    background-color: #FFFF;
    border: 4px solid #858585;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnForm:hover{
    background-color: #858585;
    p{
        color: #FFFF;
    }
}