.btnNorm{
    width: 336.5px;
    height: 64px;
    background-color: #FFFF;
    border: 4px solid #FFF4EA;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: #858585 !important;
}
.btnNorm:hover{
    background-color: #FFF4EA;
    
    font-weight: bolder;
    p{
        color: #ffffff !important;
    }
}


@media  (max-width: 1279px) and (min-width: 768px) {
    .btnNorm{
    width: 256.5px;
    height: 54px;
    background-color: #FFFF;
    border: 4px solid #FFF4EA;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: #858585 !important;
}
.btnNorm:hover{
    background-color: #FFF4EA;
    
    font-weight: bolder;
    p{
        color: #ffffff !important;
    }
}
}


@media  (max-width: 767px) {
    .btnNorm{
    width: 236.5px;
    height: 54px;
    background-color: #FFFF;
    border: 3.5px solid #FFF4EA;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: #858585 !important;
}
.btnNorm:hover{
    background-color: #FFF4EA;
}
}

body.dark-theme {
    p{
        color: #858585 !important;
    }
.btnNorm:hover{
    background-color: #FFF4EA;
    
    font-weight: bolder;
    p{
        color: #ffffff !important;
    }
}
}
