.btnNorm{
    width: 336.5px;
    height: 64px;
    background-color: #FFFF;
    border: 4px solid #FFF4EA;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnNorm:hover{
    background-color: #FFF4EA;
}
