.btnForm{
    width: 336.5px;
    height: 64px;
    background-color: #FFFF;
    border: 4px solid #858585;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btnForm:hover{
    background-color: #FFF4EA;
    p{
        font-weight: bolder;
        color: #FFFF !important;
    }
}

@media  (max-width: 1279px) and (min-width: 768px) {
    .btnForm{
    width: 286.5px;
    height: 54px;
    background-color: #FFFF;
    border: 4px solid #858585;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnForm:hover{
    background-color: #FFF4EA;
    p{
        font-weight: bolder;
        color: #FFFF !important;
    }
}
}


@media  (max-width: 767px){
    .btnForm{
    width: 236.5px;
    height: 54px;
    background-color: #FFFF;
    border: 3.5px solid #858585;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnForm:hover{
    background-color: #FFF4EA;
    p{
        font-weight: bolder;
        color: #FFFF !important;
    }
}
}

body.dark-theme {
    p{
        color: #858585;
    }
.btnForm:hover{
    background-color: #FFF4EA;
    p{
        color: #FFFF !important;
    }
}
}