.btn{
    width: 130px;
    height: 40px;
    background-color: #FFF4EA;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    border: 4px solid #FFF4EA;
    border-radius: 20px;
    background-color: #ffffff;
}