.button_more{
    &__btn{    
    width: 1080px;
    height: 68px;
    background-color: #7E4CC3;
    text-align: center;
    border-radius: 20px;
    border: none;
    
        &:hover{
        background-color: rgba(126, 76, 195, 0.5);
    }
}

    &__text{
        color: #fff;
        font-size: 24px;
    }
}


@media (max-width: 768px) {
    .button_more{
    &__btn{    
    width: 248px;
    height: 45px;
    background-color: #7E4CC3;
    text-align: center;
    border-radius: 20px;
    border: none;
    
        &:hover{
        background-color: rgba(126, 76, 195, 0.5);
    }
}

    &__text{
        color: #fff;
        font-size: 14px;
    }
}
}