header{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
}
.header__icons{
    display: flex;
    gap: 40px;
}