.header {
  position: relative;
  padding: 20px 40px 0px 40px;
  margin-bottom: 20px;
  
  .container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.burger {
  display: none;
}

.nav {
  &__list {
    width: 695px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  &__link {
    text-decoration: none;
    color: #7E4CC3;
    font-size: 16px;
    transition: color 0.3s;
    
    &:hover {
      color: #3D3D3D;
    }
  }
}

.contacts {
  &__phone {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #7E4CC3;
    font-size: 16px;
    
    &:hover {
      color: #3D3D3D;
    }
  }
}

.menu {
  background: #fff;
  width: 120px;
  height: 160px;
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px 0px 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  &.active {
        opacity: 1;
        visibility: visible;
    }
}



@media (max-width: 768px) {
.header {
  position: relative;
  width: 348px;
  padding: 10px 10px 0px 10px;
  margin-bottom: 10px;
  
  .container {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.burger {
  display: block;
  margin-left: auto;
}
.logo svg {
  width: 52px;
  height: 14px;
}

.nav {
  display: none;
  &__list {
    width: 695px;
    display: block;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  &__link {
    text-decoration: none;
    color: #7E4CC3;
    font-size: 10px;
    transition: color 0.3s;
    
    &:hover {
      color: #3D3D3D;
    }
  }
}

.contacts {
  &__phone {
    display: none;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #7E4CC3;
    font-size: 10px;
    
    &:hover {
      color: #3D3D3D;
    }
  }
}

.menu {
  background: #fff;
  width: 120px;
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px 0px 20px;

  position: fixed;
  top: 5%;
  left: 60%;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

    &__contacts {
      display: block;
  &__phone {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #7E4CC3;
    font-size: 10px;
    
    &:hover {
      color: #3D3D3D;
    }
  }
}
}
}
