
  .glav{
    margin: 0 auto;
    background-color: #B78AAE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 432px;
    gap: 50px;
    margin-bottom: 30px;

    &__img{
    display: flex;
    &__1{
    margin-top: 80px;
    margin-right: -90px;
    }
    &__2{
    margin-top: -30px;
    }
  &__3{
    margin-top: 120px;
    margin-left: -90px;
    }
    }
}



@media (max-width: 1279px) and (min-width: 768px) {
  .glav{
    margin: 0 auto;
    background-color: #B78AAE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

    &__img{
    display: flex;
    margin-top: -20px;

    &__1{
    margin-top: 90px;
    margin-right: -90px;
    &__in{
      width: 200px;
      height: 190px;
    }
    }
    &__2{
    margin-top: 30px;
    margin-left: 40px;
    &__in{
      width: 200px;
      height: 190px;
    }
    }
  &__3{
    margin-top: 95px;
    margin-left: -50px;
    &__in{
      width: 200px;
      height: 190px;
    }
    }
    }
    
    // &__onas{
    // margin: 0 auto;
    // width: 1090px;
    // }
}
}


@media (max-width: 767px) {
  .glav{
    margin: 0 auto;
    background-color: #B78AAE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
    gap: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 20px;

    &__img{
    display: flex;
    margin-top: -25px;

    &__1{
    margin-top: 90px;
    margin-right: -90px;
    &__in{
      width: 100px;
      height: 90px;
    }
    }
    &__2{
    margin-top: 30px;
    margin-left: 40px;
    &__in{
      width: 100px;
      height: 90px;
    }
    }
  &__3{
    margin-top: 95px;
    margin-left: -40px;
    &__in{
      width: 100px;
      height: 90px;
    }
    }
    }
}

}