.glav{
    margin: 0 auto;
    background-color: #B78AAE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 432px;
    gap: 50px;
    margin-bottom: 30px;

    &__img{
    display: flex;
    }
    &__img__1{
    margin-top: 80px;
    margin-right: -90px;
    }
    &__img__2{
    margin-top: -30px;
    }
  &__img__3{
    margin-top: 120px;
    margin-left: -90px;
    }
    &__onas{
    margin: 0 auto;
    width: 1090px;
    }
}