.korzina {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 50px;

}
    &__image{
    border-radius: 20px 0px 0px 20px;
    }
    &__kart{
    display: flex;
    width: 1522px;
    height: 429px;
    border: solid 10px  #FFF4EA;
    border-radius: 20px;
    }
    &__info{
    border-radius: 0px 20px 20px 0px;

    background-color: #ffffff;
    width: 1024px;
    text-align: center;
    padding-top: 100px;
    }
&__button{
    display: flex;
    justify-content: center;
    width: 1020px;
    gap: 40px;
    }
    &__p{
    margin-left: 10px;
    letter-spacing: 15px;
    font-weight: bold;
    font-size: 18px;
    }

    &__stroka{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    }

    