.kateg{
    // background-image: url('@{img}');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding-left: 50px;
    padding-top: 30px;
    width: 480px;
    height: 321px;

    &__title {
        font-size: 40px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 20px;
    }
    &__list{
        list-style: none;
        padding: 0;
        margin: 0;
    }
        &__list__item{
            padding: 8px 0;
            font-size: 24px;
            color: #ffffff;
            /* border-bottom: 1px solid #eee; */
        }
        &__strela{
            float: right;
            margin-top: -50px;
            margin-right: 50px;
        }
    }