.otziv{
    width: 318px;
    height: 208px;
    background-color: #FFFF;
    border: solid 4px #B78AAE;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__img{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-bottom: 30px;
    }
    &__text{
        width: 258px;
        padding-left: 30px;
    }
    &__name{
        padding-left: 30px;
    }
    &__span{
        color: #B78AAE;
        font-size: 24px;
    }
    &__p{
        color: #B78AAE;
    }
}

@media (max-width: 1279px) and (min-width: 768px) {
    .otziv{
    width: 288px;
    height: 168px;
    background-color: #FFFF;
    border: solid 4px #B78AAE;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__img{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-bottom: 10px;
    }
    &__text{
        width: 258px;
        padding-left: 30px;
    }
    &__name{
        padding-left: 30px;
    }
    &__span{
        color: #B78AAE;
        font-size: 24px;
    }
    &__p{
        color: #B78AAE;
    }
}
}


@media (max-width: 767px) {
    .otziv{
    width: 238px;
    height: 128px;
    flex-direction: column;
    background-color: #FFFF;
    border: solid 4px #B78AAE;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    
    &__img{
        padding-top: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-bottom: 10px;
    }
    &__text{
        width: 208px;
        padding-left: 15px;
        margin-top: -10px;
    }
    &__name{
        margin-top: -10px;
        padding-left: 15px;
    }
    &__span{
        color: #B78AAE;
        font-size: 20px;
    }
    &__p{
        color: #B78AAE;
    }
}
}

body.dark-theme {
    .otziv{
        border: 4px solid #B78AAE !important;
    }
}