.plus {
  width: 251px;
  height: 264px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 4px solid #D2EDFF;
  position: relative;
    &__text {
    font-size: 16px;
    color: #3d3d3d;
  }
  
  &::after {
    content: '';
    position: absolute;
    left: -4px;
    top: 0;
    width: 4px;
    height: 0;
    background: #7E4CC3;
    transition: height 0.7s ease;
  }
  
  &:hover::after {
    height: 100%;
  }


  
  &__num {
    font-size: 64px;
    font-weight: 900;
    color: rgba(126, 76, 195, 0.5);
  }
  
  &__title {
    font-size: 20px;
    font-weight: 700;
    color: #3d3d3d;
  
  &__content {
    width: 271px;
    height: 113px;
  }
}
}

@media (max-width: 768px) {
  .plus {
  width: 149px;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  border-left: 3px solid #D2EDFF;
  position: relative;
    &__text {
    font-size: 8px;
    color: #3d3d3d;
  }
  
  &::after {
    content: '';
    position: absolute;
    left: -3px;
    top: 0;
    width: 3px;
    height: 0;
    background: #7E4CC3;
    transition: height 0.7s ease;
  }
  
  &:hover::after {
    height: 100%;
  }


  
  &__num {
    font-size: 15px;
    font-weight: 600;
    color: rgba(126, 76, 195, 0.5);
  }
  
  &__title {
    font-size: 12px;
    font-weight: 400;
    color: #3d3d3d;
  
  &__content {
    font-size: 8px;
    width: 129px;
    height: 60px;
  }
}
}
}