.plus{
    width: 318px;
    height: 208px;
    background-color: #FFFFFF;
    border: 4px solid #FFF4EA;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__p{
        width: 262px;
    }
}
.plus:hover {
    transform: scale(1.01);
    }

@media (max-width: 1279px) and (min-width: 768px) {
    .plus{
    width: 288px;
    height: 168px;
    background-color: #FFFFFF;
    border: 4px solid #FFF4EA;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__p{
        width: 262px;
    }
}
}
@media (max-width: 767px) {
    .plus{
    width: 238px;
    height: 128px;
    background-color: #FFFFFF;
    border: 4px solid #FFF4EA;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-content: center;
    text-align: center;
    &__p{
        width: 212px;
        margin-top: -8px;
    }
}
.plus:hover {
    transform: scale(1.01);
    }
}

body.dark-theme {
    .plus{
        border: 4px solid #B78AAE !important;
    }
}