.plus{
    width: 318px;
    height: 208px;
    background-color: #FFFFFF;
    border: 4px solid #FFF4EA;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__p{
        width: 262px;
    }
}