.consult {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 483px;
    height: 66px;
    padding: 15px;
    border-bottom: 1px solid #3d3d3d;

&__text {
    color: #3d3d3d;
    font-size: 16px;
}
}


@media (max-width: 768px) {
    .consult {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 100%;
    max-width: 368px;
    height: 36px;
    padding: 15px;
    border-bottom: 1px solid #3d3d3d;

&__text {
    color: #3d3d3d;
    font-size: 12px;
}
&__icon{
    width: 20px;
    height: 20px;
}
}
}