.product{
    background-color: #ffffff;
    border-radius: 20px;
    width: 336px;
    height: 497px;
    border: solid 10px  #FFF4EA;

    &__image{
    border-radius: 10px 10px 0px 0px;
    }

    &__like{
    padding-top: 20px;
    padding-left: 260px;
    position: absolute;
    }

    &__info{
    padding-left: 20px;
    }

    &__price{
    font-weight: lighter;
    font-size: 32px;
    }

    &__button{
    display: flex;
    gap: 15px;
    }
    &__title{
        font-size: 32px;
    }
}