.product{
    background-color: #ffffff;
    border-radius: 20px;
    width: 336px;
    height: 497px;
    border: solid 10px  #FFF4EA;

    &__image{
    border-radius: 10px 10px 0px 0px;
        width: 336px;
        height: 219px;
    }

        &__scroll{
        display: flex;
        align-items: center;
        width: 336px;
        overflow-x: hidden;
        scroll-behavior: smooth;
        cursor: grab;
    }

    &__like{
    background-image: url('../images/сердце.webp');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 260px;
    cursor: pointer;
    position: absolute;
    transition: background-image 0.3s ease;
    }

    &__info{
    padding-left: 20px;
    }

    &__price{
    font-weight: lighter;
    font-size: 32px;
    }

    &__button{
    display: flex;
    gap: 15px;
    }
    &__title{
        font-size: 32px;
    }
}
.product:hover{
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.product__scroll div {
    flex: 0 0 auto;
    margin-right: 7px;
}
.product__scroll:active {
    cursor: grabbing;
}
.product__like:active {
    background-image: url('../images/сердцеБ.webp');
}

@media (max-width: 1279px) and (min-width: 768px) {
    .product{
    background-color: #ffffff;
    border-radius: 20px;
    width: 266px;
    height: 427px;
    border: solid 10px  #FFF4EA;

    &__image{
    border-radius: 10px 10px 0px 0px;
    width: 266px;
    height: 219px;
    }
        &__scroll{
        display: flex;
        align-items: center;
        width: 266px;
        overflow-x: hidden;
        scroll-behavior: smooth;
        cursor: grab;
    }

    &__like{
    background-image: url('../images/сердце.webp');
    background-size: 100%;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 220px;
    cursor: pointer;
    position: absolute;
    transition: background-image 0.3s ease;
    }

    &__info{
    padding-left: 20px;
    }

    &__price{
    font-weight: lighter;
    font-size: 26px;
    }

    &__button{
    display: flex;
    gap: 10px;
    }
    &__title{
        font-size: 30px;
        width: 226px;
    }
}
.product__like:active {
    background-image: url('../images/сердцеБ.webp');
    width: 35px;
    height: 35px;
}
.product__scroll div {
    flex: 0 0 auto;
    margin-right: 7px;
}
.product__scroll:active {
    cursor: grabbing;
}
}

@media (max-width: 767px) {
    .product{
    background-color: #ffffff;
    border-radius: 20px;
    width: 216px;
    height: 337px;
    border: solid 10px  #FFF4EA;

        &__scroll{
        display: flex;
        align-items: center;
        width: 216px;
        overflow-x: hidden;
        scroll-behavior: smooth;
        cursor: grab;
    }

    &__image{
    border-radius: 10px 10px 0px 0px;
    width: 216px;
    height: 169px;
    }

    &__like{
    background-image: url('../images/сердце.webp');
    background-size: 100%;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 180px;
    cursor: pointer;
    position: absolute;
    transition: background-image 0.3s ease;
    }

    &__info{
        margin-top: -10px;
    padding-left: 10px;
    }

    &__price{
    margin-top: -20px;
    font-weight: lighter;
    font-size: 22px;
    }

    &__button{
    display: flex;
    gap: 7px;
    }
    &__title{
        font-size: 26px;
        width: 176px;
    }
}
.product__like:active {
    background-image: url('../images/сердцеБ.webp');
    width: 25px;
    height: 25px;
}
.product__scroll div {
    flex: 0 0 auto;
    margin-right: 7px;
}
.product__scroll:active {
    cursor: grabbing;
}
}

body.dark-theme {
  .product__price{
    color: #858585;
  }
    .product__title{
    color: #858585;
  }
}