.product{
    background-color: #ffffff;
    border-radius: 20px;
    width: 336px;
    height: 497px;
    border: solid 10px  #FFF4EA;

    &__image{
    border-radius: 10px 10px 0px 0px;
    }

    &__like{
    background-image: url('../images/сердце.webp');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 260px;
    cursor: pointer;
    position: absolute;
    transition: background-image 0.3s ease;
    }

    &__info{
    padding-left: 20px;
    }

    &__price{
    font-weight: lighter;
    font-size: 32px;
    }

    &__button{
    display: flex;
    gap: 15px;
    }
    &__title{
        font-size: 32px;
    }
}
.product__like:active {
    background-image: url('../images/сердцеБ.webp');
}