.hero {
  height: 174px;
  width: 186px;
  display: flex;
  background-color: #3d3d3d;
  border-radius: 20px;
  
  &:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .container {
    width: 100%;
  }
  
  &__title {
    color: #fff;
    font-size: 10px;
    text-align: center;
    padding: 2px 6px 2px 6px;
  }
  
  &__text {
    color: #3d3d3d;
    width: 156px;
    height: 64px;
    position: absolute;
    margin-top: 70px;
    padding: 0px 10px 4px 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0px 30px 30px 0px;
  }
  
  &__paragraph {
    font-size: 10px;
    color: #3d3d3d;
  }

  &__image{
    width: 186px;
    height: 153px;
    border-radius: 0px 0px 20px 20px;
  }
}

@media (max-width: 768px) {
  .hero {
  height: 73px;
  width: 74px;
  display: flex;
  background-color: #3d3d3d;
  border-radius: 10px 10px 10px 10px;
  
  &:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .container {
    width: 100%;
  }
  
  &__title {
    color: #fff;
    font-size: 5px;
    text-align: left;
    padding: 0px 7px 0px 7px;
  }
  
  &__text {
    color: #3d3d3d;
    width: 73px;
    height: auto;
    min-height: 32px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin-top: 10px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0px 30px 30px 0px;
  }
  
  &__paragraph {
    width: 100%;
    font-size: 5px;
    color: #3d3d3d;
    margin: 0;
    padding: 2px 2px 2px 2px;
  }

  &__image{
    width: 74px;
    height: 57px;
    border-radius: 0px 0px 10px 10px;
  }
}
  
}
  