form{
margin-left: 100px;
}
.search{
        background-color: #ffffff;
    width: 684px;
    height: 60px;
    border: 5px solid #858585;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;

    &__input {
    width: 640px;
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    border: none;
    font-size: 32px;
    color: #858585;
    }

    &__button {
    width: 40px;
    height: 60px;
    margin-right: 30px;
    background-color: #ffffff;
    border-radius: 0px 20px 20px 0px;
    color: white;
    border: none;
    }

    .search-button:hover {
        background-color: #FFF4EA; /* Цвет кнопки при наведении */
    }
}

@media (max-width: 1279px) and (min-width: 768px) {
    form{
margin-left: 100px;
}
.search{
    width: 384px;
    height: 50px;
    border: 4px solid #858585;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;

        &__img__in{
        width: 25px;
        height: 25px;
    }

    &__input {
    width: 640px;
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    border: none;
    font-size: 32px;
    color: #858585;
        font-size: 18px;
    }

    &__button {
    width: 40px;
    height: 25px;
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 0px 20px 20px 0px;
    color: white;
    border: none;
    }

    .search-button:hover {
        background-color: #FFF4EA; /* Цвет кнопки при наведении */
    }
}
}


@media (max-width: 767px) {
    form{
margin-left: 50px;
}
.search{
    width: 334px;
    height: 40px;
    border: 4px solid #858585;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;

    &__input {
    width: 590px;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    font-size: 32px;
    color: #858585;
        font-size: 18px;
    }

    &__img__in{
        width: 20px;
        height: 20px;
    }

    &__button {
    width: 30px;
    height: 25px;
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 0px 20px 20px 0px;
    color: white;
    border: none;
    }

    .search-button:hover {
        background-color: #FFF4EA; /* Цвет кнопки при наведении */
    }
}
}

body.dark-theme {
    form{
        background-color: #858585 !important;
        border: 5px solid #ffffff;
    }
    .search{
    background-color: #858585 !important;

    }
    .search__button{
        margin-right: 10px;
        background-color: #858585;

    }

        .search__input{
        background-color: #858585;
        height: 20px;

    }
}