.slide {
  position: relative;
  height: 500px;
  width: 1280px;
  display: flex;
  align-items: center;
  flex: 0 0 33.333%; // 100% / 3 слайда
  

  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;

  
  .container {
    position: relative;
    width: 1280px;
  }
  
  &__content {
    text-align: center;
    padding-top: 70px;
    width: 1280px;
    height: 230px;
    background-color: rgba(61, 61, 61, 0.6);

   animation: slideInFromLeft 1s ease forwards;
    
    // Задержка анимации для каждого слайда
    &:nth-child(1) &__content { animation-delay: 0.5s; }
    &:nth-child(2) &__content { animation-delay: 5.5s; } // 5s слайд + 0.5s
    &:nth-child(3) &__content { animation-delay: 10.5s; } // 10s + 0.5s
  }

 @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  // Заголовок
  &__title {
    font-size: 64px;
    color: #fff;

  
  &__title-line {
    display: block;
    color: #fff;
  }
}
}


@media (max-width: 768px) {
  .slide {
  left: 0;
  position: relative;
  height: 140px;
  width: 100%;
  max-width: 367px; // максимальная ширина
  margin: 0 auto; // центрирование
  display: flex;
  align-items: center;
  flex: 0 0 33.333%; // 100% / 3 слайда
  

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  
  .container {
    position: relative;
    width: 100%;
    
  }
  
  &__content {
    text-align: center;
    padding-top: 40px;
   width: 100%; // вместо 367px
      height: auto; // вместо 62px
      min-height: 62px;
    background-color: rgba(61, 61, 61, 0.6);

   animation: slideInFromLeft 1s ease forwards;
    
    // Задержка анимации для каждого слайда
    &:nth-child(1) &__content { animation-delay: 0.5s; }
    &:nth-child(2) &__content { animation-delay: 5.5s; } // 5s слайд + 0.5s
    &:nth-child(3) &__content { animation-delay: 10.5s; } // 10s + 0.5s
  }

 @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  // Заголовок
  &__title {
    font-size: 16px;
    color: #fff;

  
  &__title-line {
    display: block;
    color: #fff;
  }
}
}
}
