.vacancy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3d3d3d;
    width: 1210px;
    height: 155px;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 30px 50px 30px 20px;

    &__left{
        width: 300px;
        height: 155px;
        border-right: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__arrow{
        cursor: pointer;
  transition: all 0.3s ease;
  
  &:hover {
    transform: scale(1.1);
    
    rect {
      fill: #f5f5f5;
    }
    
    path {
      stroke: #3d3d3d;
    }
  }
  
  svg {
    display: block;
    transition: transform 0.4s ease;
  }
    }

&__right{
    width: 860px;
    height: 131px;
}

&__text{
    width: 860px;
    margin-bottom: 20px;
}

&__title {
    color: #fff;
    font-size: 40px;
    text-align: center;
}

&__description {
    color: #fff;
    font-size: 16px;
    margin: 0;
}

&__salary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 44px;
    background-color: #D2EDFF;
    color: #3d3d3d;
    font-size: 24px;
    border-radius: 15px 15px 15px 0px;
}
&__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}


@media (max-width: 768px) {
  .vacancy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #3d3d3d;
    width: auto;
    max-width: 768px;
    height: auto;
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px 10px 10px 10px;

    &__left{
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #fff;
        border-right: 0px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__arrow{
        cursor: pointer;
  transition: all 0.3s ease;
  
  &:hover {
    transform: scale(1.1);
    
    rect {
      fill: #f5f5f5;
    }
    
    path {
      stroke: #3d3d3d;
    }
  }
  
  svg {
    width: 30px;
    height: 30px;
    display: block;
    transition: transform 0.4s ease;
  }
    }

&__right{
    width: 100%;
    max-width: 768px;
    height: auto;
}

&__text{
    width: 100%;
    max-width: 368px;
    margin-bottom: 20px;
}

&__title {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

&__description {
    color: #fff;
    font-size: 12px;
    margin: 0;
}

&__salary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: #D2EDFF;
    color: #3d3d3d;
    font-size: 14px;
    border-radius: 15px 15px 15px 0px;
}
&__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
}