<footer>
    <div class="footer__logo">
            <div class="logo"><img src="./assets/images/лого2.webp"></div>
            <div class="footer__logo__icons">
                <div><img src="./assets/images/тг.webp"></div>
                <div><img src="./assets/images/фбук.webp"></div>
                <div><img src="./assets/images/ватсап.webp"></div>
                <div><img src="./assets/images/инста.webp"></div>
            </div>
        </div>

        <div class="footer__menu">
            <a class="footer__menu__a">КАТАЛОГ</a><br>
            <a><span>Все товары</span></a><br>
            <a><span>Товары для кошек</span></a><br>
            <a><span>Товары для собак</span></a><br>
            <a><span>Товары для грызунов</span></a><br>
            <a><span>Товары для птиц</span></a>
        </div>

         <div class="footer__menu2">
            <a class="footer__menu__a">ДОСТАВКА</a><br><br>
            <a class="footer__menu__a">КОНТАКТЫ</a><br>
            <span>Телефон:<br>+7 (956) 543-92-12</span><br>
            <span>Почта:<br>softwool.shop@yandex.ru</span><br>
            <span>Адрес:<br>г. Нижний новгород,<br>ул. Сорокина, 34</span><br>
        </div>
</footer>