<div class="cont">
            <div class="korzina">
         <div class="korzina_icon"><img src="../image/избранное.png"></div>
         <div class="korzina__kart">
            <div ><img class="korzina__image" src="@@img"></div>

        <div class="korzina__info">
            <h2 class="product__title">@@title</h2>
            <h2 class="product__price">@@price ₽</h2>
            <div class="korzina__button">
                <button class="product__btn"><p>В корзину</p></button>
                <button class="product__btn"><p>Купить</p></button>
            </div>
        </div>
         </div>
    </div>
</div>

