<div class="otziv">
    <div class="otziv__img">
        <div><img src="./assets/images/оценка.webp" ></div>
        <div><img src="./assets/images/оценка.webp" ></div>
        <div><img src="./assets/images/оценка.webp" ></div>
        <div><img src="./assets/images/оценка.webp" ></div>
        <div><img src="./assets/images/оценка.webp" ></div>
    </div>

    <div class="otziv__name">
        <span class="otziv__span">@@name</span>
    </div>

    <div class="otziv__text">
        <p class="otziv__p">@@text</p>
    </div>
</div>