<div class="overlay">
    <div class="overlay__container">
    <div class="overlay__header">
        <h1 class="overlay__title">Что нужно будет делать:</h1>
        <div class="overlay__arrow">
            <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="39.999" y="40.2792" width="40" height="40" rx="20" transform="rotate(-179.599 39.999 40.2792)" fill="white"/>
<path d="M31.115 23.7166L20.1923 12.6398L9.11549 23.5624" stroke="#3D3D3D"/>
</svg>

                </div>
    </div>
    
    <div class="overlay__content">
        @@include('_point.html', {
            "img": "./assets/images/qest.webp",
            "text": "@@point1.1"
        })
        
        @@include('_point.html', {
            "img": "./assets/images/qest.webp",
            "text": "@@point1.2"
        })
        
        @@include('_point.html', {
            "img": "./assets/images/qest.webp",
            "text": "@@point1.3"
        })
        
        @@include('_point.html', {
            "img": "./assets/images/qest.webp",
            "text": "@@point1.4"
        })

                @@include('_point.html', {
            "img": "./assets/images/qest.webp",
            "text": "@@point1.5"
        })
        
        @@include('_point.html', {
            "img": "./assets/images/qest.webp",
            "text": "@@point1.6"
        })
        
        @@include('_point.html', {
            "img": "./assets/images/qest.webp",
            "text": "@@point1.7"
        })
    </div>
    </div>

    
<div class="overlay__container">
    <div class="overlay__header">
        <h1 class="overlay__title">Важные требования:</h1>
    </div>
    
    <div class="overlay__content">
        @@include('_point.html', {
            "img": "./assets/images/bookmark.webp",
            "text": "@@point2.1"
        })
        
        @@include('_point.html', {
            "img": "./assets/images/bookmark.webp",
            "text": "@@point1.2"
        })
        
        @@include('_point.html', {
            "img": "./assets/images/bookmark.webp",
            "text": "@@point2.3"
        })
        
        @@include('_point.html', {
            "img": "./assets/images/bookmark.webp",
            "text": "@@point2.4"
        })

                @@include('_point.html', {
            "img": "./assets/images/bookmark.webp",
            "text": "@@point2.5"
        })
        
        @@include('_point.html', {
            "img": "./assets/images/bookmark.webp",
            "text": "@@point2.6"
        })
    </div>
    </div>

    <div class="overlay__container">
    <div class="overlay__header">
        <h1 class="overlay__title">Что мы предлагаем:</h1>
    </div>
    
    <div class="overlay__content">
        @@include('_point.html', {
            "img": "./assets/images/light.webp",
            "text": "@@point3.1"
        })
        
        @@include('_point.html', {
            "img": "./assets/images/light.webp",
            "text": "@@point3.2"
        })
        
        @@include('_point.html', {
            "img": "./assets/images/light.webp",
            "text": "@@point3.3"
        })
        
        @@include('_point.html', {
            "img": "./assets/images/light.webp",
            "text": "@@point3.4"
        })

                @@include('_point.html', {
            "img": "./assets/images/light.webp",
            "text": "@@point3.5"
        })
        
        @@include('_point.html', {
            "img": "./assets/images/light.webp",
            "text": "@@point3.6"
        })
    </div>
    </div>

            <div class="overlay__header">
            <h1 class="overlay__title">Что мы предлагаем:</h1>
        </div>

    <div class="overlay__bottom">
        <div class="overlay__bottom__block">
                     <div class="overlay__img">
            <img src="./assets/images/ladder.webp" class="overlay__icon">
        </div>
        <p class="overlay__bottom__text">
            @@point4
        </p>
        </div>

    </div>
</div>