
<div class="product">
    <div class="product__like" id="likeButton"></div>
    <!-- <img src="./assets/images/сердце.webp"> -->
        <div ><img class="product__image" src="@@img"></div>

    <div class="product__info">
        <h2 class="product__title">@@name</h2>
        <h2 class="product__price">@@price ₽</h2>
        <div class="product__button">
             @@include('../components/_button.html', {
            "btn_text": "Подробнее   >"
        })
         @@include('../components/_button.html', {
            "btn_text": "В корзину"
        })
        </div>
    </div>
</div>