// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/button';
@use 'components/button-link';
@use 'components/header';
@use 'components/footer';
@use 'components/reason';
@use 'components/plus';
@use 'components/form';
@use 'components/slide';
@use 'components/hello';
@use 'components/vacancy';
@use 'components/point';
@use 'components/overlay';


body{
    width: 1280px;
    margin: 0;
    background: #fff;
    margin-left: 0;
    margin-right: 0;
}

.slider{
    width: 1280px;
    height: 500px;

    position: relative;
    overflow: hidden;


    &__container{
        display: flex;
        width: 300%;
        animation: slide 15s infinite;
        animation-timing-function: linear;
    }
}

@keyframes slide {
  0%, 33.33% { transform: translateX(0%); }
  33.34%, 66.66% { transform: translateX(-33.333%); }
  66.67%, 99.99% { transform: translateX(-66.666%); }
  100% { transform: translateX(0%); }
}

.about{
    background-color: #3D3D3D;
    padding: 0px 40px 0px 40px;
    &__container{
        height: 330px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__image{
        border: 10px solid #fff;
        border-radius: 30px;
        width: 273px;
        height: 273px;
    }

    &__content{
        width: 857px;
        &__title{
            color: #fff;
            font-size: 40px;
        }
    }

    &__text{
        color: #fff;
        font-size: 24px;
    }
}


.features {
  padding: 5rem 0;
  background-color: #D2EDFF;
  padding: 20px 26px 20px 26px;
  
&__container {
    display: flex;
    align-items: center;
    width: 1228px;
    height: 580px;
    justify-content: space-between;
  }
  
  &__title {
    font-size: 64px;
    color: #3D3D3D;
  }
  
  &__grid {
    width: 593px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 24px;
    gap: 11px;
}
}


.title_main{
    color: #3D3D3D;
    font-size: 24px;
    text-align: center;
}

.pluses{
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    gap: 20px;
    justify-content: center;
}


.buttons{
    width: 1080px;
    height: 246px;
    background-color: #D2EDFF;
    padding: 100px 100px;
    .container{
        width: 1084px;
        height: 253px;
    }
    &__first{
        margin-bottom: 50px;
    }

    &__block{
        width: 1084px;
        display: flex;
        justify-content: space-between;
    }
}

// СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2
// СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2
// СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2
.hello{
    width: 100%;
    margin-bottom: 20px;
    &__container{
        display: flex;
        justify-content: center;
        gap: 10px;
        &__first{
            display: block;
        }
                &__second{
            display: block;
        }

        &__third{
            display: block;
        }
    }
}


// ОКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНО
// ОКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНО
// ОКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНО
.card{
    margin-bottom: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;

    &__info{
        display: none;
        
        &.active {
            display: block;
    }
    }
}
.other-content{
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  
  &.shifted {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
    body{
        width: 100%; // вместо 768px
        max-width: 100vw; // ограничение по ширине вьюпорта
        margin: 0;
        padding: 0;
        background: #fff;
}

.slider{
    left: 0;
    width: 100%;
    max-width: 768px;
    height: 140px;
    margin: 0 auto;

    position: relative;
    overflow: hidden;


    &__container{
        display: flex;
        width: 300%;
        animation: slide 15s infinite;
        animation-timing-function: linear;
    }
}

@keyframes slide {
  0%, 33.33% { transform: translateX(0%); }
  33.34%, 66.66% { transform: translateX(-33.333%); }
  66.67%, 99.99% { transform: translateX(-66.666%); }
  100% { transform: translateX(0%); }
}

.about{
    width: 100%;
    max-width: 768px;
    background-color: #3D3D3D;
    padding: 20px 0px 20px 0px;
    &__container{
        padding: 0px 10px 0px 10px;
        height: auto;
        display: block;
        align-items: center;
    }

    &__image{
        display: none;
        border: 10px solid #fff;
        border-radius: 30px;
        width: 273px;
        height: 273px;
    }

    &__content{
        width: 100%;
        &__title{
            color: #fff;
            font-size: 10px;
        }
    }

    &__text{
        color: #fff;
        font-size: 10px;
    }
}


.features {
    width: 100%;
    max-width: 768px;
    height: auto;
  background-color: #D2EDFF;
  padding: 10px 0px 10px 0px;
  
&__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    height: auto;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
  }
  
  &__title {
    text-align: center;
    font-size: 14px;
    color: #3D3D3D;
  }
  &__text{
    text-align: center;
  }
  
  &__grid {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 11px;
    row-gap: 10px;
    padding-right: 10px;
}
}


.title_main{
    color: #3D3D3D;
    font-size: 14px;
    text-align: center;
}

.pluses{
    width: 100%;
    max-width: 368px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 30px;
    justify-content: center;
    margin-bottom: 10px;
}


.buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 768px;
    height: auto;
    min-height: 201px;
    background-color: #D2EDFF;
    padding: 10px 0px;
    margin-top: 10px;
    .container{
        margin: 0 auto;
        width: 248px;
        height: 235px;
    }
    &__first{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    &__block{
        width: 248px;
        display: block;
        justify-content: space-between;
    }
}

// СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2
// СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2
// СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2СТРАНИЦА2
.hello{
    margin-bottom: 10px;
    margin: 0 auto;
    &__container{
        display: flex;
        justify-content: center;
        gap: 5px;

        &__first{
            display: none;
        }
                &__second{
            display: none;
        }
    }
}


// ОКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНО
// ОКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНО
// ОКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНООКНО
.card{
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;

    &__info{
        display: none;
        
        &.active {
            display: block;
    }
    }
}
.other-content{
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  
  &.shifted {
    transform: translateY(0);
  }
}
}
